@mixin text($family, $weight, $size, $line-height, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin position($display, $align, $justify, $direction) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin section-title {
  margin-bottom: 180px;
  & .title {
    @include text($main-font, $bold, 16px, 150%, $dark-gray);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  & .sub-title {
    @include text($main-font, $boldest, 46px, 130%, $dark-gray);
    margin-bottom: 60px;
  }
}
