$grey: #424551;
$dark-gray: #1e212c;
$light-gray: #787a80;
$light-gray2: #9a9ca5;
$border-input-gray: #d7dadd;
$bg-input-gray: #e5e8ed;
$bg-gray: #f4f5f6;
$bg-pink: #fedcd1;
$white: #ffffff;
$black: #000000;
$orange: #ff3f3a;
$btn-gradient: #f75e05;
$red: #ff4242;
$turquoise: #03cea4;
$blue: #5a87fc;
$light-orange: #f89828;
$pink: #f52f6e;
$main-font: "Lato", sans-serif;
$regular: 400;
$bold: 700;
$boldest: 900;
