h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
  cursor: pointer;
}
