.mailing-section {
  background-image: url("../../../images/background-mailing-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 105px;
  margin-bottom: 120px;
}

.mailing_section-container {
  @include position(flex, center, space-between, initial);
}

.mailing_form-container {
  width: 600px;
  & > p:first-child {
    @include text($main-font, $boldest, 32px, 130%, $dark-gray);
  }
}

.mailing_form {
  margin-top: 48px;
  & > input {
    @include text($main-font, $regular, 16px, 160%, $light-gray2);
    padding: 13px 16px;
    width: 422px;
    background-color: $white;
    border: none;
  }
  & > button {
    @include text($main-font, $bold, 16px, 52px, $white);
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 24px;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
    margin-bottom: 24px;
  }
  & > button:disabled {
    @include text($main-font, $bold, 16px, 52px, $white);
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 24px;
    background: $light-gray2;
    border-radius: 4px;
    margin-bottom: 24px;
  }
}
