.slider_section {
  background-color: $bg-gray;
  padding-top: 100px;
  padding-bottom: 180px;
}

.slider_head-container {
  @include position(flex, flex-end, space-between, initial);
}

.slider_title-container {
  & > p:first-child {
    @include text($main-font, $bold, 16px, 150%, $dark-gray);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  & > p:last-child {
    @include text($main-font, $boldest, 46px, 130%, $dark-gray);
    margin-top: 8px;
    margin-bottom: 60px;
  }
}

.slider_button-right {
  & > img {
    color: $grey;
  }
}

.event_slider-card-container {
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  width: 390px !important;
  height: 323px;
  background: $white;
  border: 1px solid $bg-input-gray;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  padding: 24px 24px;

  & > button {
    @include text($main-font, $bold, 14px, 44px, $orange);
    width: 100%;
    letter-spacing: 0.5px;
    border-radius: 4px;
    border: 1px solid $orange;
  }

  & > button:hover {
    background-color: $orange;
    color: $white;
  }

  & > div > p {
    @include text($main-font, $regular, 16px, 160%, $light-gray);
  }

  & > div > p:first-child {
    @include text($main-font, $bold, 28px, 150%, $orange);
    margin-bottom: 4px;
  }

  & > div > p:nth-child(3) {
    @include text($main-font, $bold, 18px, 150%, $dark-gray);
    margin-bottom: 8px;
    margin-top: 20px;
  }
}
