.benefit-section {
  padding-bottom: 120px;
  background-image: url(../../../images/illustration0.png);
  background-repeat: no-repeat;
  background-position: 86% 86%;
}

.benefit-title {
  text-align: center;
}

.benefit-list {
  margin-top: 60px;
  @include position(flex, initial, space-between, initial);
}

.benefit-list__item {
  @include position(flex, center, center, initial);
  width: 300px;
  height: 46px;
}

.benefit-list__item:hover {
  transition-duration: 300ms;
  border: 1px solid $orange;
  border-radius: 4px;
}

.benefit-list__item:hover .benefit-list__item_text {
  transition-duration: 300ms;
  color: $orange;
}

.benefit-list__item:hover .benefit-list__item_svg {
  fill: $orange;
  transition-duration: 300ms;
}

.benefit-list__item_svg {
  fill: $light-gray2;
  margin-right: 8px;
}

.benefit-list__item_text {
  @include text($main-font, $bold, 16px, 160%, $light-gray2);
}

.benefit-info__container {
  margin-top: 182px;
  width: 490px;
  height: 195px;
}

.benefit-info__title {
  @include text($main-font, $boldest, 32px, 130%, $dark-gray);
}

.benefit-info__text {
  @include text($main-font, $regular, 16px, 160%, $grey);
  margin-top: 24px;
}
