.benefit-container {
  padding-bottom: 242px;
  background-image: url(../../../images/illustration0.png);
  background-repeat: no-repeat;
  background-position: 92% 62%;
}

.benefit-title {
  text-align: center;
}

.benefit-list {
  margin-top: 60px;
  @include position(flex, initial, space-between, initial);
}

.benefit-list__item {
  border-radius: 4px;
  position: relative;
  @include position(flex, center, center, initial);
  width: 300px;
  height: 46px;
  &:hover {
    transition-duration: 300ms;
    border: 1px solid $orange;
    border-radius: 4px;
  }

  &:hover .benefit-list__item_text {
    transition-duration: 300ms;
    color: $orange;
  }

  &:hover .benefit-list__item_svg {
    fill: $orange;
    transition-duration: 300ms;
  }
}

.benefit-list__item_svg {
  fill: $light-gray2;
  margin-right: 8px;
}

.benefit-list__item_btn {
  border: none;
  background-color: transparent;
  display: contents;
}

.benefit-list__item_text {
  @include text($main-font, $bold, 16px, 160%, $light-gray2);
}

.benefit-info__container {
  margin-top: 182px;
  width: 496px;
  height: 196px;
}

.benefit-info__title {
  @include text($main-font, $boldest, 32px, 130%, $dark-gray);
}

.benefit-info__text {
  @include text($main-font, $regular, 16px, 160%, $grey);
  margin-top: 24px;
}

.library:hover::after {
  content: "Will be soon!";
  padding: 8px 12px;
  border: 1px solid $orange;
  border-radius: 4px;
  position: absolute;
  top: -46px;
  right: -18px;
  background: linear-gradient(55.95deg, $orange 0%, $btn-gradient 100%);
  @include text($main-font, $bold, 16px, 160%, $white);

}
