.hero-header-section {
  padding-bottom: 87px;
  display: flex;
  background-color: $bg-pink;
  background-image: url(../../../images/dots.png),
    url(../../../images//Group.png), url(../../../images/Vector.png),
    url(../../../images/shapes.png), url(../../../images//shapes1.png), url(../../../images//shapes2.png);
  background-repeat: no-repeat;
  background-position: 100% 80%, right 100% top 100%, right 57% top 72%, right 97% top 9% ,
    right 58% top 41%, right 0 top 0;
}

.container-header {
  padding-top: 122px;
  background-image: url(../../../images/illustration.png);
  background-repeat: no-repeat;
  background-position: 97% 34%;
}

.header-span {
  @include text($main-font, $bold, 16px, 160%, initial);
}

.hero-content {
  width: 496px;
  height: 470px;
}

.button-play {
  @include position(flex, center, initial, initial);
  @include text($main-font, $bold, 14px, 150%, initial);
  margin-bottom: 24px;
  background-color: transparent;
  border: none;
}

.button-play__image {
  margin-right: 16px;
}

.hero-title {
  @include text($main-font, $boldest, 64px, 130%, $dark-gray);
  letter-spacing: 1px;
}

.hero-button__list {
  display: flex;
  margin-top: 60px;
}

.hero-button__list-item {
  margin-right: 24px;
}

.button-outlined {
  width: 148px;
  height: 52px;
  background-color: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(to left, $orange, $btn-gradient);
  border-image-slice: 1;
  @include text($main-font, $bold, 16px, 52px, $btn-gradient);
  letter-spacing: 0.5px;
}

.hero-benefit {
  margin-top: 260px;
}

.hero-benefit-list {
  @include position(flex, initial, space-between, row);
}

.hero-benefit-list__item {
  @include position(flex, center, initial, row);
  color: $dark-gray;
  position: relative;
}

.hero-benefit-list__item:not(:last-child):after {
  content: "";
  width: 8px;
  height: 8px;
  background: $orange;
  border-radius: 25px;
  position: absolute;
  top: 26px;
  right: -50px;
}

.hero-benefit__span {
  @include text($main-font, $boldest, 46px, 130%, initial);
  margin-right: 12px;
}

.hero-benefit__text {
  @include text($main-font, $regular, 16px, 160%, initial);
}

.btn-play__wrap {
  width: 50px;
  height: 50px;
  background-color: $orange;
  border-radius: 50%;
  box-shadow: 0 0 0 13px #fec7c0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
}

.link {
  padding: 10px 40px;
  color: $white;
}

.link-orange {
  padding: 10px 40px;
  color: $orange;
}
