.subscribe-section {
  padding: 120px 0 180px 0;

  background-color: $bg-pink;
  background-image: url(../../../images/illustration-bg.png),
    url(../../../images/illustration-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 100%, right 0px top 100%;
}

.subscribe-text {
  text-align: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.subscribe-form__input {
  outline: none;
  padding: 13px 16px;
  margin-right: 24px;
  width: 422px;
  height: 52px;
  background: $white;
  @include text($main-font, $regular, 16px, 160%, $light-gray2);

  border: 1px solid $bg-input-gray;
  border-radius: 4px;
}

.subscribe-form__btn {
  width: 154px;
  height: 52px;
  @include text($main-font, $bold, 14px, 44px, $white);

}
