.team-section {
  padding: 180px 0;
  background-color: #f4f5f7;
}

.team-container {
  position: relative;
}

.team-title {
  margin-bottom: 78px;
}

.slider-btn__wrap {
  position: absolute;
  top: 18%;
  right: 2%;
}

.slider-btn {
  background: transparent;
  width: 48px;
  height: 48px;
  border: none;

  &:hover {
    background: $orange;
    border: none;
    border-radius: 25px;

    text-align: center;
    margin-left: 20px;
  }
  &:hover .slider-btn__svg {
    fill: $white;
  }
}

.team-list {
  margin-bottom: 180px;
}

.team-list__item {
  position: relative;
  width: 285px;
  height: 285px;
  &:not(:last-child) {
    margin-right: 30px;
  }
  &:hover .team-img__container::after {
    content: "";
    position: absolute;
    width: 285px;
    height: 281px;
    left: 0px;
    bottom: 0;
    background-image: linear-gradient(
      180deg,
      rgba(30, 33, 44, 0) 58.9%,
      rgba(30, 33, 44, 0.03) 70.21%,
      rgba(30, 33, 44, 0.33) 83.73%,
      rgba(30, 33, 44, 0.56) 91.17%,
      rgba(30, 33, 44, 0.768225) 98.75%,
      rgba(30, 33, 44, 0.92) 1.49%,
      #1e212c 100%
    );
  }
  &:hover .social-svg {
    display: block;
  }
}

.team-photo {
  border-radius: 4px;
  z-index: -1;
}

.team-img__container {
  width: fit-content;
  position: relative;
}

.team-social__list {
  position: absolute;
  right: 16px;
  bottom: 115px;
  display: flex;
}

.team-social-svg {
  margin-right: 12px;
}

.social-svg {
  display: none;
  fill: $white;
  opacity: 0.6;
}

.social-svg:hover {
  fill: $white;
  opacity: 1;
}

.team-name {
  text-align: center;

  font-style: normal;
  font-weight: $bold;
  font-size: 20px;
  line-height: 150%;
  color: $grey;

  margin-top: 16px;
  margin-bottom: 4px;
}

.team-position {
  text-align: center;

  font-style: normal;
  font-weight: $regular;
  font-size: 16px;
  line-height: 160%;
  color: $light-gray;
}

.review-title {
  margin-top: 180px;
  text-align: center;
  margin-bottom: 60px;
}

.social-svg {
  display: none;
  fill: $white;
  opacity: 0.6;
}

