.hero-course__container {
  text-align: center;
  padding: 120px 0;
}

.about-course__container {
  display: flex;
}

.hero-heder__course__section {
  background-color: $bg-pink;
}
.course-hero__text {
  @include text($main-font, $bold, 16px, 150%, $orange);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.course-hero__title {
  @include text($main-font, $boldest, 46px, 130%, $dark-gray);
}

.about-course__section {
  padding: 120px 0;
}

.about-course__text__wrap {
  width: 600px;
  display: block;
}

.about-course__title {
  margin-bottom: 40px;
  @include text($main-font, $boldest, 46px, 130%, $dark-gray);
}

.about-course__text {
  margin-bottom: 48px;
  width: 100%;
  @include text($main-font, $regular, 16px, 160%, $grey);
}

.about-course__learn__title {
  margin-bottom: 24px;
  @include text($main-font, $bold, 28px, 160%, $dark-gray);
}

.info-course__section {
  padding-bottom: 120px;
}

.course-inf__wrap {
  width: 495px;
  height: 550px;
  padding: 40px 32px;
  margin-left: 135px;

  border: 1px solid $bg-input-gray;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.course-info__title {
  letter-spacing: 1px;
  text-transform: uppercase;

  @include text($main-font, $bold, 14px, 150%, $dark-gray);
}

.course-info__date {
  @include text($main-font, $bold, 24px, 130%, $orange);
  margin-top: 8px;
}

.course-info__description {
  @include text($main-font, $regular, 16px, 160%, $light-gray);
  margin-top: 8px;
  margin-bottom: 32px;
}

.course-info__btn {
  width: 431px;
  height: 44px;
  @include text($main-font, $bold, 14px, 44px, $white);
  letter-spacing: 0.5px;
}

.curator-section {
  padding: 66px 0 180px 0;
}

.curator-container {
  display: flex;
  align-items: center;
}

.curator-info__wrap {
  margin-left: 135px;
}

.curator-info__title {
  @include text($main-font, $regular, 20px, 150%, $light-gray);
  margin-bottom: 16px;
}

.curator-info__list {
  margin-bottom: 32px;
}

.curator-info__list__item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 4px;
  }

  & > p {
    margin-left: 8px;
    @include text($main-font, $bold, 16px, 160%, $light-gray);
  }

  & > svg {
    fill: $orange;
  }
}

.curator-info__text {
  margin-top: 32px;
  margin-bottom: 40px;
  @include text($main-font, $regular, 16px, 160%, $light-gray);
}

.curator-social__list {
  display: flex;
}

.curator-social__list__item {
  &:not(:last-child) {
    margin-right: 30px;
  }

  & > svg {
    fill: $light-gray;
  }
  &:hover > svg {
    fill: $orange;
  }
}

.step-number {
  margin-bottom: 16px;
  position: relative;
  width: 75px;
  height: 75px;
  @include text($main-font, $boldest, 46px, 130%, $border-input-gray);

  &:after {
    content: "";
    border: 1px dashed #d7dadd;
    display: block;
    position: absolute;
    left: 91px;
    top: 50%;
    width: 200px;
  }
}

.course-step__list {
  display: flex;
}

.course-step__list__item {
  width: 285px;
  height: 192px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  & > h3 {
    @include text($main-font, $bold, 20px, 150%, $dark-gray);
    margin-bottom: 8px;
  }

  & > p {
    @include text($main-font, $regular, 16px, 160%, $light-gray);
  }

  &:hover .step-number {
    transition: 850ms;
    background-color: #ffdddd;
    border-radius: 50%;
    box-shadow: 0 0 0 13px #fff3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 21px;
    color: $orange;
    width: 75px;
    height: 75px;
  }
}

.course-form__wrap {
  padding: 48px 60px 48px 65px;
  margin-top: 177px;
  width: 100%;
  height: 243px;
  background-color: $bg-pink;
  margin-bottom: 180px;
}

.course-form__text {
  margin-bottom: 32px;
  @include text($main-font, $boldest, 32px, 130%, $dark-gray);
}

.course-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-form__input {
  width: 291px;
  padding: 11px 14px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 1px solid $border-input-gray;
  @include text($main-font, $regular, 14px, 150%, $grey);

  &::placeholder {
    @include text($main-font, $regular, 14px, 150%, $light-gray2);
  }
}

.course-form__label {
  display: grid;
  @include text($main-font, $regular, 14px, 150%, $grey);
}

.course-form__btn {
  width: 163px;
  height: 44px;
  @include text($main-font, $bold, 14px, 44px, $white);
}

.course-benefit__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.course-info__wrap {
  background-image: url(../../../images/illustration1.png);
  background-repeat: no-repeat;
  background-position: 100% 9%;
}

.course-about__list {
  width: 600px;
  margin-bottom: 60px;
  margin-left: 35px;
}

.course-about__list__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../../images/check.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: -30px;
  }
}

.discount-form__section {
  background-color: #f4f5f7;
  padding: 180px 0 100px 0;
}

.discount-form__container {
  background-image: url(../../../images/illustration2.png);
  background-repeat: no-repeat;
  background-position: 0% 9%;
}

.discount-form__wrap {
  width: 495px;
  margin-left: auto;
}

.course-discount-form__btn {
  width: 495px;
  height: 44px;
  @include text($main-font, $bold, 14px, 44px, $white);
  letter-spacing: 0.5px;
}

.course-discount-form__input {
  width: 100%;
  padding: 11px 14px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 1px solid $border-input-gray;
  @include text($main-font, $regular, 14px, 150%, $grey);

  &::placeholder {
    @include text($main-font, $regular, 14px, 150%, $light-gray2);
  }
}

.course-slider__section {
  padding: 120px 0 180px 0;
}

.all-courses__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.course-list__item {
  display: flex !important;
  width: 575px !important;
  height: 214px;

  border: 1px solid $bg-input-gray;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.all-courses__text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  @include text($main-font, $bold, 28px, 150%, $dark-gray);
}

.all-courses__btn {
  width: 202px;
  height: 52px;
  @include text($main-font, $bold, 14px, 44px, $white);
  text-align: center;
}

